APP_PORT=8999
API_DOCS=resource/apidocs/collection.json
LOG_LEVEL=debug

MYSQL_USER=apitester_user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=apitester
MYSQL_HOST=localhost
MYSQL_PORT=3307
DB_LOG_MODE=4